
<div class="panel panel-default">
    <div class="panel-heading"> 
        <h3>Add New Contact</h3>
    </div>
    <div class="panel-body">
        <form name="vm.addContactList" class="form-horizontal" novalidate>
            <table class="table table-border">
                <tbody>
                    <tr><td>Name</td>
                        <td>
                            <input name="name" type="text" class="form-control" ng-model="contact.name" required />
                            <div ng-messages="vm.addContactList.name.$error" ng-messages-include="messages.html"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input name="email" type="email" class="form-control" ng-model="contact.email" required />
                            <div ng-messages="vm.addContactList.email.$error" ng-messages-include="messages.html"></div>
                        </td>
                    </tr>
                    <tr><td>Number</td>
                        <td>
                            <input name="number" type="number" class="form-control" ng-model="contact.number" max="12" required />
                            <div ng-messages="vm.addContactList.number.$error" ng-messages-include="messages.html"></div>
                        </td>
                        <td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">
                            <button type="button" class="btn btn-primary" ng-disabled="vm.addContactList.$invalid" ng-click="vm.addContact(contact)">Add Record</button>
                            <button class="btn btn-default" ng-click="vm.close()">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>