
<h1>Cars List</h1>

<results-list
		results="vm.results"
		columns="vm.columns">
</results-list>









<!--<div class="container">-->
	<!--<h1>Cars</h1>-->
	<!-- -->
	<!--<table class="table">-->
		<!--<thead>-->
			<!--<tr>-->
				<!--<th>Brand Name</th>-->
				<!--<th>Modal</th>-->
				<!--<th>Price</th>-->
				<!--<th>Actions</th>-->
			<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<td><input name="brand" type="text" class="form-control" ng-model="cars.brand" /></td>-->
				<!--<td><input name="modal" type="text" class="form-control" ng-model="cars.modal" /></td>-->
				<!--<td><input name="price" type="text" class="form-control" ng-model="cars.price" /></td>-->
				<!--<td>-->
					<!--<button type="button" class="btn btn-primary" ng-click="addcars(cars)">Add Record</button>-->
					<!--<button type="button" class="btn btn-info" ng-click="update(cars)">Update</button>-->
				<!--</td>-->
			<!--</tr>-->
			<!--<tr ng-repeat="cars in carlist">-->
				<!--<td>{{cars.brand}}</td>-->
				<!--<td>{{cars.modal}}</td>-->
				<!--<td>{{cars.price}}</td>-->
				<!--<td>-->
					<!--<button class="btn btn-danger btn-sm" ng-click="remove(cars._id)">Remove</button>-->
					<!--<button class="btn btn-warning btn-sm" ng-click="edit(cars._id)">Edit</button>-->
					<!--<a href="#/show" class="btn btn-warning btn-sm" ng-click="show(cars._id)">Show</a>-->
				<!--</td>-->
			<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->