<!--<div class="container">-->
	<!--<h1>{{title}}</h1>-->
	<!-- -->
	<!--<table class="table">-->
		<!--<thead>-->
			<!--<tr>-->
				<!--<th>Name</th>-->
				<!--<th>Email</th>-->
				<!--<th>Number</th>-->
				<!--<th>Actions</th>-->
			<!--</tr>-->
		<!--</thead>-->
		<!--<tbody>-->
			<!--<tr>-->
				<!--<td><input name="name" type="text" class="form-control" ng-model="contact.name" /></td>-->
				<!--<td><input name="email" type="text" class="form-control" ng-model="contact.email" /></td>-->
				<!--<td><input name="number" type="text" class="form-control" ng-model="contact.number" /></td>-->
				<!--<td>-->
					<!--<button type="button" class="btn btn-primary" ng-click="addContact(contact)">Add Record</button>-->
					<!--<button type="button" class="btn btn-info" ng-click="update()">Update</button>-->
				<!--</td>-->
			<!--</tr>-->
			<!--<tr ng-repeat="contact in contactlist">-->
				<!--<td>{{contact.name}}</td>-->
				<!--<td>{{contact.email}}</td>-->
				<!--<td>{{contact.number}}</td>-->
				<!--<td>-->
					<!--<button class="btn btn-danger btn-sm" ng-click="remove(contact._id)">Remove</button>-->
					<!--<button class="btn btn-warning btn-sm" ng-click="edit(contact._id)">Edit</button>-->
					<!--<a href="#/show" class="btn btn-warning btn-sm" ng-click="show(contact._id)">Show</a>-->
				<!--</td>-->
			<!--</tr>-->
		<!--</tbody>-->
	<!--</table>-->
<!--</div>-->


<h1>Contact List</h1>

<results-list
		results="vm.results"
		columns="vm.columns">
</results-list>

