<div class="container" ng-controller="AppCtrl">
	<h1>{{title}}</h1>
	
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			 <tr>
				<td><input name="name" type="text" class="form-control" ng-model="contact.name" /></td>
				<td><input name="email" type="text" class="form-control" ng-model="contact.email" /></td>
				<td><input name="number" type="text" class="form-control" ng-model="contact.number" /></td>
				<td>
					<button type="button" class="btn btn-primary" ng-click="addContact()">Add Record</button>
					<button type="button" class="btn btn-info" ng-click="update()">Update</button>
				</td>
			</tr>
			<tr>
				<td>{{contactlist.name}}</td>
				<td>{{contactlist.email}}</td>
				<td>{{contactlist.number}}</td>
				<td>
					<a href="#" class="btn btn-danger btn-sm" ng-click="remove(contact._id)">Remove</a>
					<a href="#" class="btn btn-warning btn-sm">Back</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>