@charset "utf-8";

h1, h2, h3, ul{margin:0; padding:0;}
h1 {
  margin-top: 0px !important;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.container{
	margin-top: 10px;
	min-height: 600px;
}
.box1, .box2{
	background: #fff;
	min-height: 550px !important;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
}
.box2{
	border-left: 3px solid #f1f1f1;
}
.validate{color: red;}
a.mainlinks{font-size: 20px; color: #000; padding: 50px 100px; display: block; background: #ccc; text-align: center;}
.btmBorder{border-bottom: 1px dotted #ccc;}
.btmBorderblack{border-bottom: 2px solid #000;}
span.userName{font-size: 16px;}
.mgtop2{margin-top: 20px;}
.mgBtm1{margin-bottom: 10px;}
.mgBtm2{margin-bottom: 20px;}
.mgBtm3{margin-bottom: 30px;}
.glyphicon{margin-left: 10px;}

.panel-body {
	 padding: 0px;
}
.table {
	margin-bottom: 0px;
}